*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body{
	background-image: url(blood1.jpg);
	font-family: sans-serif;
}
.menu{
	background: red;
	height: 75px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	position: relative;
	align-items:center;
	
}
.logo {
	color :white;
	padding-left: 40px;
	padding-right: 350px;
	text-shadow: 3px 2px 5px white;
}
.logo span{
	color:pink;
	text-shadow: 3px 2px 5px pink;

}
.menu ul {
		list-style: none;
		display: flex;
}
.menu ul li{
	 position: relative;
	padding: 10px 30px;
}
.menu ul li a{
	 font-size: 20px;
	text-decoration: none;
	color:white;

}
.menu ul li :hover {
	color:pink;
}
.fa{
	float:right;
	margin-left:10px;
	padding-top: 3px;
}
.sub1{
	display:none;
	position:fixed;
	top:60px;
	left:55%;
	background: #AF2608;
}

.d:hover .sub1{
	display: block;
	border-radius: 5px;
	
}
.flex{
	display:flex;
	flex-direction: column;
}
.menu ul li:hover .sub1 ul {
  display: block;
  margin: 10px;
}

.sub2{
	display:none;
	position:fixed;
	top:50px;
	left:65%;
	background: #AF2608;
}
.d1:hover .sub2{
	display: block;
	border-radius: 5px;
	
}